
    <div>
        <button class="btn btn-dark float-right mb-3" routerLink="/login">Logout</button>
    </div>
    <form (submit)="Add($event)">
        <div class="form-group">
            <h5 for="product">Add Product</h5>
            <input type="text" name="nombre" id="product" class="form-control" placeholder ="Name" [(ngModel)]="nombre">
            <br>
            <input type="text" name="sku" id="product" class="form-control" placeholder ="Sku" [(ngModel)]="sku">
            <br>
            <input type="text" name="descripcion" id="product" class="form-control" placeholder ="Description" [(ngModel)]="descripcion">
            <br>
            <input type="text" name="precio" id="product" class="form-control" placeholder ="Price" [(ngModel)]="precio">   
        </div>
        <button class="btn btn-danger" >add product</button>
    </form>
